Suggestions_WebApp/Connected Services/SuggestionService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Idea">
    <xs:sequence>
      <xs:element minOccurs="0" name="Createdat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Createdby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Current_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Docs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expected_Dureation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifiedat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modifiedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="createdby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expected_Dureation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modifiedat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modifiedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Idea" nillable="true" type="tns:Idea" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>